body {
  background-color: #f9fbfd;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  border-left: 1px solid black;
  color: #000000;
  padding: 10px;
  resize: none;
}

footer {
  text-align: center;
}

footer p {
  margin: 6px 0;
}

.card {
  background-color: #ffffff;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  margin: 0 auto;
  max-width: 90vw;
  padding: 15px 40px 5px 40px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  border-top: 1px dashed #000000;
  color: #000000;
  font-size: 20px;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  background-color: #06aed5;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 32px;
}

.saveBtn i:hover {
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}